-----------------------------------------------------------------------------
					General styles
-------------------------------------------------------------------------------


#main{

	margin-top: 100px;
	height: 60%;
	width: 60%;
	
}

.nav-top{

	background: #428bca;
}
